{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="display-4">Projetos</h1>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Projeto 1: Data Science </h5>
                <p class="card-text">Um projeto de ciência de dados analisando clientes.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Projeto 2: Machine Learning Model</h5>
                <p class="card-text">Um projeto de aprendizado de máquina para prever preços de casas</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Projeto 3: Web Aplicação</h5>
                <p class="card-text">Um aplicativo da web baseado em Flask para gerenciamento de tarefas</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
